[2015-05-28 04:52] tog22 opened #1 "Create embeddable map showing groups by default, with a toggle to show people instead"

[2015-05-28 04:52] tog22 commented on #1
As requested for/by other major EA sites.

[2015-05-30 16:58] tog22 opened #2 "Add feature to open source LimeSurvey (for EA Survey): JS to set display:block/display:none on later questions on a page, based on answers to earlier one"
Obviously the JS is trivial and the LimeSurvey (PHP) interface is the only thing that'll take even a short time - though it should be easy. It's PHP. You could also hardcode this for the EA Survey to start with. Chance to contribute to nice open source project LimeSurvey.

[2015-05-30 17:07] tog22 opened #3 "[MOVED] Create list of tasks to automate things that are currently done manually"
This breaks down into many tasks. They could generally be done simply. One extra simple approach would be to write any sort of script which pulls data (e.g. form submissions) directly from the database, and generates a .txt file that can be included on a page with a PHP include (or, slightly neater, a Drupal filter if you're happy to learn these).

Here are some subtasks so far:
- #17 - Automate u

[2015-05-30 17:27] tog22 opened #4 "Add complete Drupal codebase to github"
Except MySQL passwords - could easily handle with an include file in ~/confidential-docroot/

[2015-05-30 17:58] peterhurford commented on #4
:+1: Sounds like a good idea. You can reference private files that don't go on GitHub using a [.gitignore](http://git-scm.com/docs/gitignore) file in the root directory.

[2015-05-30 17:59] peterhurford commented on #2
Yeah, we should brainstorm this and then split it up into individual tasks.

[2015-05-31 19:51] tog22 commented on #4
Good to know, though I'm worried that file could get lost. Whoever does this could find the best approach, as I bet Drupal is well set up for this with its multisite architecture. Alternatively they could just provide instructions to:
- Install to vhost.localhost
- Create a settings.php file in ./sites/vhost.localhost either manually or via the install script.
- Import the sample database into wha

[2015-05-31 21:10] tog22 commented on #2
I think the basic split is to hardcode an example question first, then add it to the LimeSurvey interface. I think that split's sufficient for someone to start work.

[2015-05-31 23:20] peterhurford commented on #3
Yeah, we should brainstorm this and then split it up into individual tasks.

[2015-06-01 00:06] peterhurford commented on #2
Oh, I posted that earlier comment on the wrong issue.  What I meant to say is that we should just use a survey program that does this automatically (e.g., Qualtrics or SurveyMonkey).  Thoughts?

[2015-06-04 19:22] tog22 commented on #2
Do you know of any? I'm not sure I should spend the time searching for and learning a new system. I had that survrymonkey walkthrough with chris, and it doesn't offer that feature (or anything nearly as sophisitcated as limesurvey does on that front). he thought limesurvey looked fine.

[2015-06-04 19:23] tog22 commented on #2
Because this tak doesn't require learning the rest of EA Hub and can be done without any real oversight, it'd actually be a good one to try some people on if you still want one :) People could install limesurvey themselves and try hacking its code directly.

[2015-06-04 19:28] peterhurford commented on #2
Maybe I'm not understanding you right -- you're talking about hiding future questions based on past responses?

[2015-06-06 00:34] tog22 commented on #2
Yes, on the same page.

On 4 June 2015 at 12:28, Peter Hurford notifications@github.com wrote:

[2015-06-06 17:32] peterhurford commented on #2
[That is easily doable in SurveyMonkey](http://help.surveymonkey.com/articles/en_US/kb/Question-Skip-Logic) ([and Qualtrics](http://www.qualtrics.com/university/researchsuite/basic-building/question-options/display-logic/)).

[2015-06-06 17:33] peterhurford commented on #2
I think you can even [do it automatically in Lime Survey](https://manual.limesurvey.org/Setting_conditions#Hide.2FShow_Branching_Versus_Jump_Branching) though it doesn't look intuitive.

[2015-06-12 23:45] tog22 commented on #2
Yes, I used it plenty in LimeSurvey, but it only works for questions on
different pages, whereas this ticket is about doing it on the same page. It
sounds like SurveyMonkey has the same problem though I don't have a paid
account to test it with!

On 6 June 2015 at 10:33, Peter Hurford notifications@github.com wrote:

[2015-06-13 16:58] peterhurford commented on #2
Yeah, that makes sense. I do think that support for same-page question hiding is pretty poor.

What's the downside of separating across multiple pages? Concerns of survey drop-off?

[2015-06-13 21:14] tog22 commented on #2
Yeah. Though don't have any evidence about thiS!

On 13 June 2015 at 09:58, Peter Hurford notifications@github.com wrote:

[2015-06-15 21:20] cdc482 opened #5 "Ex. Add padding to all causes drop down on EA Donation Registry"
/donations

[2015-06-15 21:39] tog22 opened #6 "Dropdown menus"

[2015-06-15 21:57] tog22 opened #7 "Get the small EA task suggester on eahub.com"
Migrating the code and pointing to it

[2015-06-15 21:58] tog22 opened #8 "Make users see a message saying they still need to click the verification link"
Can you try to make it so those users see a message saying they still need to click the verification link or they won't be able to submit info to the site and their EA Profile won't show to others? This'd show as they browse around the site, and you can use Drupal's messages function which displays green messages like at http://i.imgur.com/S6b2eTQ.png . You'd need to Google to see how to set this

[2015-06-15 22:13] tog22 commented on #8
good enough way might be to create a block only shown to unverif role

[2015-06-16 00:42] tog22 commented on #5
What it should look like (though feel free to change):

![screen shot 2015-06-15 at 17 41 08](https://cloud.githubusercontent.com/assets/888877/8173658/cb302ece-1385-11e5-9d2a-037c6399129a.png)

[2015-06-16 02:51] peterhurford commented on #7
:+1:

[2015-06-16 02:52] peterhurford commented on #7
Personally I think it would be best if it were a separate repo.  You could host it as a [git submodule](http://git-scm.com/docs/git-submodule).

[2015-06-16 21:27] cdc482 commented on #8
I put a block in banner on my dev (diffdocroot) site. What do you think? It took about 1 minute thanks to your tutorial. It lacks basic html formatting, but I figured you probably have a css style I should apply instead.

[2015-06-17 18:21] peterhurford commented on #2
My best guess is it's fine to just have separate pages when needed.  Close this?

[2015-06-17 18:22] peterhurford commented on #6
@tog22 Can you elaborate what you mean?

[2015-06-21 05:13] tog22 commented on #2
You could well be right, and I give that a bunch of weight. I think I'll just leave it, but keep the issue open and unassigned just in case anyone claims it. It could be good to have someone try their hand at LimeSurvey, and it's bound to be useful for us/LimeSurvey to have the ability to execute arbitrary JS on answer choice (the only real work here, as besides that it's just typing `$("#question

[2015-06-27 23:34] tog22 commented on #6
I mean making the top menu bar have dropdown menus. This essentially involves:
- Dragging "Superfish 1 (Superfish)" to the appropriate region ("Navigation") at http://effectivealtruismhub.com/admin/structure/block (or rather on a dev site first)
- Editing the CSS so this looks OK.

When we have someone for this I can give them more detailed instructions.

[2015-07-04 03:48] cdc482 commented on #5
Tom, this is done.  Not really happy with the display though...looking into the css. I think we need to change the type or class...

[2015-07-04 21:33] tog22 opened #9 "Add basic search for EA Profiles: just search by name"
Could do easily through Drupal Views or Google search. Former may be better.

[2015-07-05 00:07] tog22 opened #10 "[cancelled] set up SSO on the EA Wiki"
Talk to Eric Bruylant ( elliotbrown2@gmail.com ) and Ozzie Gooen ( @OAGr )

[2015-07-05 00:10] tog22 commented on #10
@cdc482 _might_ have time to help

[2015-07-05 21:53] peterhurford commented on #5
@cdc482 @tog22 Is there a PR for this?

[2015-07-05 21:56] peterhurford commented on #8
@cdc482 @tog22 Is there a PR for this?  I can't find @cdc482's dev site.

[2015-07-05 23:18] tog22 commented on #5
The relevant CSS isn't actually in github atm - I (or Chris) still need to
do https://github.com/tog22/eahub/issues/4

On 5 July 2015 at 14:53, Peter Hurford notifications@github.com wrote:

[2015-07-05 23:28] peterhurford commented on #5
I see; thanks.

[2015-07-05 23:34] tog22 commented on #3
Will do

[2015-07-06 00:00] OAGr commented on #10
From Eric:
I believe there's a module for this at http://drupal.org/project/modules . If you can't find one, the best places to search and ask are http://drupal.stackexchange.com and (less good) the drupal.org forums.

I'm making good progress on setting up the wiki (http://wiki.effectivealtruismhub.com/w/index.php?title=Effective_Altruism_Wiki), but there're a few things that need more than FTP.

[2015-07-06 04:55] tog22 commented on #10
@cdc482 can you list the possible modules?

[2015-07-06 06:37] arichard4 commented on #10
Incidentally, one other possible solution would be to use the wiki attached to the EA forum, since you could then reuse the accounts from the forum. (I believe LW does this; I'm not sure how difficult this would be, so it might be worth asking whoever implemented it for LW.)

[2015-07-07 20:22] cdc482 commented on #4
I'm going to work on this, as corporateclean belongs in the themes common folder

[2015-07-07 21:03] arichard4 commented on #6
Can I get the more detailed instructions?

[2015-07-07 21:29] peterhurford commented on #6
@tog22 ^

[2015-07-08 02:14] cdc482 commented on #5
Done! Turns out it's a browser issue, not a CSS issue. Styling select elements inside other elements seems to frustrate lots of web developers for this reason. Anyway, in case you ever run into this again, theirs a really handy attribute for select elements---style:"width:100%;max-width:90%". Obviously you could probably think of several other fixes involving changing css files (or even javascript

[2015-07-08 04:46] peterhurford commented on #5
Awesome; thanks for the hard work @cdc482 !

[2015-07-08 19:37] tog22 commented on #4
Awesome, could you add just the theme to github to start with? Let @arichard4 know when you're done - though both you guys can work outside github if you like.

I'll let you decide but I'd suggest creating a /sites/ folder in the root level of the github repo with _some_ of what's in /sites/ on the server\* putting it in github-repo/sites/effectivealtruismhub.com/themes/

\* = non-sensitive stuff,

[2015-07-08 19:38] tog22 commented on #4
@cdc482 you may find Acquia Dev Desktop software worth trying for you own development. That's only partially and optionally related to this issue.

[2015-07-08 20:05] tog22 commented on #5
Approved in the email thread.

On 7 July 2015 at 21:46, Peter Hurford notifications@github.com wrote:

[2015-07-08 21:05] peterhurford commented on #5
@tog22 should we close this issue?

[2015-07-08 21:06] cdc482 commented on #5
I have a little more work to do, based on the email. Ill close it tonight
(hopefully).

On Wed, Jul 8, 2015 at 5:05 PM, Peter Hurford notifications@github.com
wrote:

[2015-07-08 21:48] cdc482 commented on #5
Actually, it turns out that---like the original issue--the issue of the submit button dropping to the next line upon narrowing the window has many "quick" fixes changing css file(s) (apparently javascript and php code can do the same), but I'm not convinced that they are good fixes. I'm going to create a new task for that issue, so that I can spend the time needed to thoroughly research it and (ho

[2015-07-08 21:48] #5 closed, assigned to cdc482

[2015-07-08 22:33] tog22 commented on #6
Sure thing, thanks for self-assigning @arichard4 :
- Go to dev site http://diffdocroot.effectivealtruismhub.com/
- First enter details from  http://bit.ly/1HhUtqJ
- then login with your EA Profile at (I've given it full admin rights on the dev site, and hopefully sufficient rights on the live site)
- I've just done...

...for you to make things easy. However you may need to tweak the settings of t

[2015-07-08 23:00] tog22 commented on #5
A quick fix would be fine given other priorities, though it's ultimately up to you :smile:

[2015-07-09 00:08] tog22 opened #11 "Restore link to 'Your Profile' in menu, but make linkable URL obvious"
@cdc482 pointed this out first - we had a link to http://effectivealtruismhub.com/user called 'Your Profile' in the menu. Nicely, this takes you to the login/registration page if you're not logged in, and to your Profile if you are. The only problem is that in the latter case it still shows http://effectivealtruismhub.com/user in the address bar rather than redirecting to e.g. http://effectivealtr

[2015-07-09 00:08] tog22 commented on #11
@cdc482 given the above do you think you should make this your top priority?

[2015-07-09 00:11] cdc482 commented on #11
I'm happy to make this my priority. To be clear, this should be my first
priority followed by the hiltons task suggester, right?

On Wednesday, July 8, 2015, tog22 notifications@github.com wrote:

[2015-07-09 17:03] tog22 commented on #11
Yes

[2015-07-10 20:40] cdc482 commented on #11
I agree with your suggestion about using a drupal hook in template.php. Definitely seems like the easiest solution. I am considering a couple other options:
1. Adding a your profile/signout button to replace the sign up/login button in the search area block. (Visible to authenticated users etc.)
2. Using token's in the path for the Your Profile menu button (easier said than done of course).

Anywa

[2015-07-11 18:29] tog22 commented on #11
(Note for others: I helped Chris sort out the cache issue, you need
to click clear caches on
http://diffdocroot.effectivealtruismhub.com/admin/config/development/performance
when that happens.)

##

I receive a lot of email and limit my time spent on it, so may take a while
to see or reply to messages; I may be able to reply more quickly to emails
with an indication of timeframes (e.g. with 'urgen

[2015-07-11 18:29] tog22 commented on #11
which php files have you changed chris?

On 11 July 2015 at 11:29, Tom Ash tog.ash@gmail.com wrote:

[2015-07-11 18:32] tog22 commented on #11
Option 1 is good thinking! That sounds so much quicker and easier that I'd
think it's worth doing for now and moving onto other priorities if you
agree. I imagine it should get just as many clicks and profile creations as
the old 'Your Profile' menu link would? Feel free to suggest tweaks to the
wording if you think it'd help with that.

On 11 July 2015 at 11:29, Tom Ash tog.ash@gmail.com wrote:

[2015-07-12 15:48] cdc482 commented on #11
Glad you like option 1. Makes sense to me as well. I'll add a sign out button to the your profile page, and work on this option for now.

[2015-07-12 20:34] cdc482 commented on #8
@peterhurford I rewrite the sandbox on occassion. Try checking out diffdocroot.effectivealtruismhub.com. This issue is almost done. I'm just working on the token bit...which is probably really easy. I just need a break to see it clearly.

P.S. Ignore the weird menu format--someone else is playing with that.

[2015-07-12 20:50] tog22 commented on #8
We don't do PRs at the moment, because most of the changes in Drupal are done via the admin interface which only affects the database. The ones which do affect files (e.g. theming changes) could be done once we do #4 .

[2015-07-12 20:53] tog22 commented on #11
:+1:

[2015-07-12 21:22] cdc482 commented on #8
I knew it was something simple!
https://www.drupalgardens.com/documentation/tokens

[2015-07-12 21:33] cdc482 commented on #8
Done. Note that it currently displays to ALL users (though I'd modify the block so that only unverified users see the message on the live site) and ONLY on pages with the path user/... Let me know your thoughts, and I'll deploy right after. I'd like to reset the sandbox for other reasons anyway.

[2015-07-12 22:21] tog22 commented on #6
@arichard4 says:

https://www.drupal.org/project/superfish says:

I'd recommend trying to edit the theme .info file - dev releases of Drupal modules are often fine, but this seems safe. Documentation is at https://www.drupal.org/documentation/theme . We're using Drupal 8.

[2015-07-12 22:26] tog22 commented on #8
Coordinate with @arichard4 before resetting the sandbox - if you guys can set up separate development environments (either on the server or locally) that'd probably make your lives easier! Feel free to share any passwords with Alex, Chris, I trust him plenty.

[2015-07-12 22:33] tog22 commented on #8
Only showing it on pages with the path user/ was a good idea. It looks almost ready to deploy, but please first make it look exactly like the normal Drupal messages (e.g. the red 'update available' ones you see on http://diffdocroot.effectivealtruismhub.com/admin/structure/block/manage/block/7/configure?destination=user/1 only using the green colour, like you have). I think that just requires remo

[2015-07-12 22:34] tog22 commented on #11
Looks good, just theme it to look exactly like 'LOG IN OR SIGN UP'. Nice initiative adding 'sign out', you'd need to make that link to /user/logout.

[2015-07-13 02:32] tog22 commented on #7
It's currently at http://jacobhilton.github.io/findmeatask/ . But @cdc482 doesn't need to worry about this for now.

[2015-07-16 18:29] tog22 commented on #7
Sorry, I meant the _repo_ is currently at https://github.com/jacobhilton/findmeatask - http://jacobhilton.github.io/findmeatask/ is the public URL for now, though @cdc482 is taking up @jacobhilton 's original suggestion of putting it on EA Hub (which I didn't think I had the time to make viable/justifiable before Chris kindly suggested he was keen to help take EA Hub forwards :smile: ). If anyone

[2015-07-16 23:14] jacobhilton commented on #7
Hi Tom, I don't have access to that page. I'd be happy to add people if you let me know who, but why not just fork my repo to your account? (Just click "Fork" in the top right.) That way you can do what you like with it.

[2015-07-17 04:24] tog22 commented on #7
I'll let @peterhurford (.impact's resident Emily Post of git etiquette) decide what to do on that and implement it.

[2015-07-17 04:25] tog22 commented on #7
But the EA/.impact github crew is:

Collaborators Push access to the repository
@peterhurford
@cdc482

@OAGr

@arichard4

@patbl
@tog22

@alexflint

@machinaut

@jacobhilton

@JoshuaDavid
@atucker

[2015-07-18 03:36] cdc482 commented on #8
Still not happy with it, but my research on HTML classes and CSS is starting to get declining returns. Ill figure it out eventually, but feel free to share thoughts on id's like "inside" or "main" and classes like "clearcase" and "grid 8"....I have accomplished through trial and error though, so no worries if you also don't have much time to explain these things

[2015-07-18 17:57] tog22 commented on #8
I'd definitely suggest just exactly copying the classes (and the whole HTML) of  the normal Drupal messages (e.g. the red 'update available' ones you see on http://diffdocroot.effectivealtruismhub.com/admin/structure/block/manage/block/7/configure?destination=user/1 only using the green colour, like you have). Doesn't that work and do the job in the quickest way possible?

[2015-07-18 19:46] tog22 opened #12 "Recreate a page showing past donations on the EA Donation Registry"
At http://effectivealtruismhub.com/donations/past and pages linked from that. The old pages there no longer work because we've now removed the text fields with info on 2013 and lifetime donations, and moved them all into the 'Selected past donations' table. It might work simply to edit the 'views' to show everyone with stuff in this table, and show the tables.

[2015-07-18 20:08] cdc482 commented on #8
While I am generally stupid enough to miss something as simple as this, I
did take your advice about copying the html and classes from other error
messages.

Turns out that modifications are needed because the other error and status
messages show inside the main page content block, and the elements holding
the status message also hold other content that appears further down the
page. This leads to

[2015-07-18 20:29] tog22 commented on #8
Ah, gotcha! If it's proving tricky then at this stage it may well be worth
doing it the official 'Drupal way' after all and editing the 'EA Hub
Support' module (or template.php in the theme) to execute something like
this on each page:

if ($user->role == 'unverified') { // <- not sure that's the actual way to
test for this
    drupal_set_message("Bla bla bla"); // see
https://api.drupal.org/api/d

[2015-07-18 20:31] cdc482 commented on #8
Personally,  it would be good to learn what you just suggested anyway as it
is involved in other tasks. I think I will do this research by Monday the
latest.

On Sat, Jul 18, 2015 at 4:29 PM, tog22 notifications@github.com wrote:

[2015-07-18 21:19] peterhurford commented on #7
I'd rather keep it a separate GitHub repo.  I guess since you don't deploy from GitHub there's no need to include it as a submodule.

[2015-07-18 23:57] tog22 opened #13 "Add rel="nofollow" to all user-added links"
There'll be a module with a filter for this, and you can apply it to all text formats accessible to regular ('authenticated') users.

[2015-07-19 00:02] tog22 opened #14 "Add better captcha/spam protection to EA Profile registration"
Mollom is bad, don't try that. Maybe we can add a custom question and answer, like 'What is the first name of the philosopher with surname Singer, who's been <a href="https://en.wikipedia.org/wiki/Famine,_Affluence,_and_Morality">advocating EA ideas since the 70s?</a>'

[2015-07-19 21:50] mwerbos opened #15 ""Edit donations" page contains references to 2013"
For some reason the edit page for a user's donations still prompts them with "Lifetime amount donated through 2013", "Charities donated to in 2013", "Pre-tax income in 2013", and "Amount donated in 2013".

Perhaps this could be updated to some kind of $LAST_YEAR expression, since I'm guessing it's just a manually-entered string right now? Though that might require some way of archiving or labeling

[2015-07-19 22:19] tog22 commented on #1
OK, as requested by Maia, here's the steps:

1) Create a fresh, empty HTML file (hosted wherever, e.g. on your local computer)
2) Copy over the bare essentials of the code from http://effectivealtruismhub.com/map
3) Tell Tom/everyone in this issue because you'll already have finished the first useful end goal
4) Add a toggle interface icon that (presumably via JavaScript) toggles whether groups or

[2015-07-31 16:55] tog22 opened #16 "Modify Drupal Views code to always show profile fields from the same user together"
The issue is that this doesn't happen when the fields are under separate 'profiles' (sections, like 'Donations' and 'You and EA') at http://effectivealtruismhub.com/admin/structure/profiles . For an example of what goes wrong, see http://effectivealtruismhub.com/user/profiles/offers . (If someone'd like to write a better description of this issue that'd be great!)

This would be a big contribution

[2015-07-31 21:01] cdc482 commented on #8
So... I got rid of most white space. Please see:
http://diffdocroot.effectivealtruismhub.com/user

Should I add a line break between the message and the menu bar?

---

How this was done:
Code (in Banner body):

[code]

Install & Enable Token Filter Module:
https://www.drupal.org/project/token_filter

Select "replace token" for relevant view(s):
http://diffdocroot.effectivealtruismhub.com/admin/co

[2015-08-02 04:59] tog22 commented on #15
Yep, this has been in the queue to fix for ages but we haven't had capacity until recently. Someone just finished transferring the 2013 data into the new 'Selected past donations' table (which lets you specify when they were made), so I've deleted those old fields. I've backed up the 2013 income data (note to self: currently to my computer at `Documents/Projects/EA\ Hub/backups/old\ data`) and del

[2015-08-02 04:59] #15 closed, assigned to tog22

[2015-08-02 05:09] tog22 commented on #8
Yay! Yes, please add the same amount of space above it as the regular messages have (e.g. the red message on http://diffdocroot.effectivealtruismhub.com/admin/structure/block ). It should look exactly like those.  Here are some illustrative images: http://prntscr.com/7zulsl / http://prntscr.com/7zuloj

Unfortunately, it says "Please change or confirm [user:mail] by clicking the e-mailed verificati

[2015-08-02 18:08] tog22 commented on #14
Doing a very quick pass through on this (all I have time for, not looking through the wide array of Google guidance for Drupal spam protection):

Added https://www.drupal.org/project/spambot . Getting Tanja to go through accounts that retroactively identifies. Getting Joseph to get an API key from stopforumspam.com .

Also added https://www.drupal.org/project/spamicide

[2015-08-02 18:12] tog22 commented on #14
https://www.drupal.org/project/riddler would let us add that custom question and answer, like 'What is the first name of the philosopher with surname Singer, who's been advocating EA ideas since the 70s?'

[2015-08-02 18:13] tog22 commented on #14
Good resource I haven't fully worked through: https://www.ostraining.com/blog/drupal/block-spam-registrations-drupal/

[2015-08-03 01:22] tog22 opened #17 "Automate updates of map based on people's EA Profile locations"
Simply requires:
- Editing prewritten scripts to output files with the code the map pages needs
- Making a cronjob execute this
- Making the map pages include the code from these files via a PHP include

[2015-08-03 01:23] tog22 commented on #17
The scripts are:
- sites/effectivealtruismhub.com/scripts/map-exports/ea-profiles.php
- sites/effectivealtruismhub.com/scripts/map-exports/groups.php

[2015-08-03 01:23] tog22 commented on #3
Here's the first subtask: #17

[2015-08-03 20:25] cdc482 commented on #8
This should be easy enough. Sadly, although I knew how like a week ago, I've forgotten how to fix the problem of database set up. I'll figure it out eventually. I just don't want to experiment with it until my mind is clear in case I break something.

[2015-08-05 01:58] tog22 commented on #4
I did a bit of this in commit https://github.com/tog22/eahub/commit/66dc095352e79d80de75c7124f110272756608cf . I added the theme, some images, and a couple of scripts.

[2015-08-05 02:02] tog22 commented on #1
Maia was busy with a job hunt and one of the sites needed it done, so I just did the basic version of this without the toggle in commit https://github.com/tog22/eahub/commit/66dc095352e79d80de75c7124f110272756608cf by adding this page, embeddable in an iframe:

https://github.com/tog22/eahub/blob/master/sites/effectivealtruismhub.com/scripts/for-external-sites/ea-groups-map-embeddable.php

[2015-08-05 02:03] tog22 commented on #6
I just added the theme in commit https://github.com/tog22/eahub/commit/66dc095352e79d80de75c7124f110272756608cf . It's at https://github.com/tog22/eahub/tree/master/sites/effectivealtruismhub.com/themes/corporateclean

[2015-08-10 02:35] tog22 commented on #4
I did a bunch more in commit https://github.com/tog22/eahub/commit/f7ae2460983ded2893c7354db46afb1d487a4929 . @wrsaunde is now going to try and do a bit more :smile:

[2015-08-10 23:10] william-r-s commented on #4
I believe the entire codebase is present as of https://github.com/tog22/eahub/commit/f5a7297f42e83490093e853762774359ce4d4988 (at least, I have a local installation which seems to be functioning properly).

[2015-08-10 23:10] #4 closed, assigned to william-r-s

[2015-08-11 00:33] william-r-s commented on #16
I think I figured out how to do this in (at least for the offers page: http://prntscr.com/8370s1). Under Format/Format/Settings on the view edit page, there's a spot to select a grouping field (you also need to hide the grouping field you use by using the Exclude from Display option under the field settings in Fields). Does this solve the issue you were thinking about?

[2015-08-12 01:01] tog22 commented on #16
Applied this (well found) fix to the live site: http://effectivealtruismhub.com/user/profiles/offers

[2015-08-12 01:01] #16 closed, assigned to william-r-s

[2015-08-14 17:15] william-r-s commented on #9
Looks like this can be done through Search Api (
http://www.webwash.net/tutorials/intro-search-api-part-1-how-create-search-pages ) There's a problem with displaying profile pictures though (described at https://www.drupal.org/node/1571802), I'm playing around with my local copy to get the configuration right.

[2015-08-14 18:57] tog22 commented on #9
Well found! Remember the 80-20 rule - pictures are pretty valuable, but we can live without them if that lets you implement this sooner and move onto other things.

[2015-08-14 18:58] tog22 commented on #9
(This is more saying you should make your own judgement than 'telling' you to leave pictures aside - like I say, they are pretty valuable for both aesthetics and recognisability. They're the main thing which stop the site looking too dry. :art: )

[2015-08-14 19:21] william-r-s commented on #9
https://github.com/tog22/eahub/commit/021d4abd4cb5d56f64f0c0384a28fd0af9a1daab
Committed files required for this to repository. Some additional configuration (setting up the search index) required. @tog22, let me know when you've added the new modules, and I can set this up on the live site.

[2015-08-14 20:30] haryshwaran opened #18 "Fix the missing map from EA groups page"
The groups tagged on the map are visible but the map itself is missing showing only a grey Background.

[2015-08-14 20:38] tog22 commented on #18
Everything about the map is in (or accessible via Javascript linked from) the HTML source of the pages it's on, e.g. http://effectivealtruismhub.com/map (and http://effectivealtruismhub.com/groups and http://effectivealtruismhub.com/ ). So you can fix it with a local copy of that. The map points included in that HTML source are generated elsewhere, but you don't need to worry about that.

(Current

[2015-08-14 22:44] haryshwaran commented on #18
The Map tiles returned 404s from Mapbox which is why they were greyed out. A new Map box account was created to replace the tile provider for leaflet.js. The map now displays properly at the dev site.

[2015-08-15 00:20] tog22 commented on #18
Deployed fix by @haryshwaran which was to paste in this code:

[code]

[2015-08-15 01:57] tog22 commented on #14
This seems to be eliminating a lot of spam but missing some. So I've set "Number of times the IP address has been reported is equal to or more than" down to 5, from 20, even though there's a warning about setting it too low. We'll just have to see if we get too many false positives. I've also submitted the issue "Allow profile2.module profiles to count as evidence" to the spambot module devs at ht

[2015-08-16 05:57] tog22 commented on #9
I've added all the files in /sites/, though not /views/ea_profiles_search.viewsexport because I'm only really updating /sites/ and there's no point adding it to the server - you can just import or recreate it in the admin interface. :smile: Go ahead and set it up on the live site and then close this issue, I've made your 'William Saunders' account an admin.

[2015-08-18 18:47] tog22 opened #19 "Come up with improved EA Hub home page"
Suggest any improvements you like. One plausible area for improvement is featuring all or some of the EA resources hosted/indexed on the site in an attractive block towards the top of the home page, "above the fold". For instance, this might feature the map to the left and a list of links to resources/site sections to the right.

You can just make a mock up, using either your preferred graphics pr

[2015-08-19 18:12] haryshwaran commented on #1
Added controls to toggle between individuals and groups.
The code shown below has to be added to the php file after individual-locations.json is generated at the server side.
`window.individualsData = <?php include 'individual-locations.json';?>;`

Issue can be closed once the individuals json file is generated and included.

[2015-08-19 18:41] haryshwaran commented on #18
attributions need to be fixed and subdomains can be removed, please use this code instead of the above one.

[code]

[2015-08-19 21:11] tog22 commented on #1
individuals json file is generated and included. And I've deployed this to the live site - closing! Beautiful toggle btw, you should see your work appear on major EA websites soon.

[2015-08-19 21:11] #1 closed, assigned to haryshwaran

[2015-08-19 21:11] haryshwaran opened #20 "Setup automated builds upon commits"
1.Setup automated builds for production and staging on commits.
2.Setup up status such as "build passing"/"build failing" on the repo.

[2015-08-19 21:34] OAGr commented on #20
I'm going to recommend setting it up with Docker if you know how.  That would also help onboarding new people as well.

[2015-08-19 22:11] tog22 opened #21 "Add advanced search for EA Profiles: search by at least some common fields"
@wrsaunde said:

I of course said "yeah definitely" - plus "would you be ok to make a suggested list, say in a gdoc, and put it here [initially meaning #p-eahub on Slack, though github might be better] for comment?" So I'm assigning this to him, at least for now! :smile:

[2015-08-19 22:11] tog22 commented on #9
The final step on _this_ basic version of search (for names only) is, of course, to get it ready to launch and then launch it. This would involve suggesting places to link to it on the site, e.g. at http://dev.effectivealtruismhub.com/user/profiles and then adding those links. @wrsaunde kindly said he'd do this, though understandably "might not get to that this week, probably the week after".

He

[2015-08-19 22:16] tog22 opened #22 "[CANCELLED] Add an admin user that people can import to their local 'users' table"
This would be the best way to give people an admin account on their local copy.

[2015-08-19 22:20] tog22 opened #23 "Fully implement 'What people can offer' page"
http://effectivealtruismhub.com/user/profiles/offers

This involves getting it completely ready to launch and then launching it. That would involve coming up with places to link to it on the site, e.g. at http://dev.effectivealtruismhub.com/user/profiles, discussing those places with Tom and others as necessary. Then adding those links.

The page would also likely benefit from some short introduct

[2015-08-19 22:20] tog22 commented on #23
@wrsaunde you might be interested in taking this on at some point given your work on this page - especially if no one else does!

[2015-08-19 22:28] tog22 opened #24 "Add vagrant (or similar) option for setting up a local copy"

[2015-08-19 22:30] tog22 commented on #24
From a conversation with @wrsaunde :

William Saunders [7:17 PM]
actually, now that I think about it, do you think it would be worthwhile for me to play around and see if I can set up a vagrant environment or something similar to smooth out the local install process? I haven't really used vagrant before, but I think this is the problem it's supposed to solve

Tom Ash [7:18 PM]
that'd definitely be

[2015-08-19 22:30] tog22 commented on #24
@haryshwaran and @OAGr were also interested in this

[2015-08-20 00:58] haryshwaran commented on #18
code added to all pages and attributions has been fixed

[2015-08-20 00:58] #18 closed, assigned to haryshwaran

[2015-08-20 05:30] OAGr commented on #18
:+1:

[2015-08-21 20:28] tog22 commented on #4
Seems to be!

[2015-08-21 20:31] tog22 commented on #11
@haryshwaran may be interested in taking this on if you can't do so soon @cdc482 - he may ask you for pointers!

[2015-08-21 20:36] peterhurford commented on #4
Excellent! :+1:

[2015-08-22 23:43] tog22 commented on #11
@haryshwaran just added 'LOG OUT'. All that's needed to complete this issue is now to add a link alongside it to 'YOUR PROFILE' which points to the user's unique URL (e.g. /user/1 or /user/tom-ash ) rather than /user. @cdc482 may be able to explain his progress on this - I think it involved using Drupal tokens. If not I'd recommend googling those @haryshwaran .

[2015-08-22 23:45] tog22 opened #25 "Fix reported error when changing profile pic"
Report from konrad.seifert@t-online.de :

[2015-08-23 22:37] haryshwaran commented on #11
For I have added a "MY PROFILE" button and linked it to /user so that there is something available right now for users to click on and view their profile. Will look into drupal tokens and resolve this.

[2015-08-23 22:41] tog22 commented on #11
Ah, that would absolutely be a good idea, but unfortunately we have reason not to want it (briefly, because it'll lead people to share the wrong URL for their EA Profiles in a new EA Forum feature coming up). We actually had a link to /user before but took it down for this reason. Thanks for what would otherwise have been a totally sensible initiative, but could you reverse it if you've put it on

[2015-08-23 22:51] haryshwaran commented on #11
Ah, I see.. Got it, removed it. Will see how to about it using drupal tokens

[2015-08-24 20:07] tog22 commented on #14
reCAPTCHA wasn't blocking spam registrations so I'm now trying https://www.drupal.org/project/riddler  with the easy riddle "Do you like spam? 'Yes' or 'No'?". If that doesn't work, I might switch to something harder to solve like 'What is the first name of the philosopher with surname Singer, who's been advocating EA ideas since the 70s?'. What do you think @haryshwaran and @wrsaunde ? Might that

[2015-08-28 02:33] haryshwaran commented on #11
Link added via custom module. To do ( low priority ) will be to make the links themeable with drupal themes.

[2015-09-03 00:26] tog22 commented on #11
@haryshwaran low priority, but can you make 'my profile' say 'your profile' and split LOG IN OR SIGN UP into 2 links, to /user/login & /user/register . your choice how to style this.

[2015-09-03 00:30] tog22 commented on #25
@patbl - up for taking a look at what's going on here?

[2015-09-03 05:52] patbl commented on #25
I've been having difficulty setting up my development environment.

[2015-09-10 00:54] tog22 opened #27 "Fix map being broken"

[2015-09-10 00:59] tog22 commented on #27
Resources I shared in our hangout:
- map: http://effectivealtruismhub.com/map
- manual steps VA follows: https://docs.google.com/document/d/1fcv6WLS7HUq5-IrFb8sUODmiDAtPvKxGuR8iumgZO3E/edit#heading=h.kt5x02ky3myh
- check quota usage: https://console.developers.google.com/project/ea-hub/apiui/apiview/geocoding_backend/usage?duration=P1D

[2015-09-13 22:20] patbl commented on #24
@haryshwaran looks like this is done?

[2015-09-13 22:43] patbl commented on #25
Konrad has a duplicate profile:

http://effectivealtruismhub.com/user/konrad
http://effectivealtruismhub.com/user/konrad-seifert

We should add a uniqueness constraint to the e-mail database column. In addition, we should remove the uniqueness constraint from the name column, since it's quite possible for two people to have the same name.

[2015-09-13 22:46] patbl commented on #25
There are thirty users in my copy of the database that have duplicate e-mail addresses.

`SELECT mail, count(*) FROM users GROUP BY mail HAVING count(*) > 1;`

[2015-09-13 23:01] patbl commented on #25
I don't think there's a way of altering an index to make it unique or non-unique. But removing and re-adding the indexes should work.

[code]

For e-mail addresses, we'll first have to merge the thirty duplicate accounts. Then we can do this:

[code]

[2015-09-14 08:58] haryshwaran commented on #24
yes, its done! closing this.

[2015-09-14 08:58] #24 closed, assigned to haryshwaran

[2015-09-14 15:44] haryshwaran commented on #27
Creating a module for the map instead of having it as raw html in the drupal pages. This keeps the codebase visible.

[2015-09-14 16:18] tog22 opened #28 "Merge users with identical emails & then require emails to be unique"
Get duplicates using `SELECT mail, count(*) FROM users GROUP BY mail HAVING count(*) > 1;`

Take best guess at account they use. Merge in fields you can add from the other account (if there's a clash and it's ambiguous which version to use, leave the field as is). Delete the other account. Then when done this for them all, do:

[code]

[2015-09-14 16:41] tog22 commented on #25
Thanks for looking into this @patbl ! I'm surprised the email column didn't have a uniqueness constraint - I expect what's happened is that Drupal checks for email uniqueness when accounts are registered directly on the site, but I've been importing accounts without this getting checked. I'll get someone to sort that out in https://github.com/tog22/eahub/issues/28 . I'll reply about this issue spe

[2015-09-14 18:04] tog22 commented on #25
@patbl - we've now deleted the duplicate profile, so this issue is fixed. i'll email konrad. thanks for working it out!

[2015-09-14 18:04] #25 closed, assigned to patbl

[2015-09-15 22:31] tog22 commented on #28
Done.

[2015-09-15 22:31] #28 closed, assigned to tog22

[2015-09-17 16:57] tog22 commented on #27
@haryshwaran - is this issue ready for you to close after you regenerated the json?

[2015-09-17 17:32] tog22 opened #30 "Fully implement 'Effective altruists happy to help with your career' page"
Draft page is at http://effectivealtruismhub.com/career-help

This involves getting it completely ready to launch and then launching it. That would involve coming up with places to link to it on the site, e.g. at http://dev.effectivealtruismhub.com/user/profiles, discussing those places with Tom and others as necessary. Then adding those links.

It also involves:
- Showing people's careers, skills

[2015-09-19 00:21] haryshwaran commented on #27
This issue can be closed

[2015-09-19 00:21] #27 closed, assigned to haryshwaran

[2015-09-19 00:23] haryshwaran commented on #17
This is done. New script added. We can close after monitoring for a while and close the issue.

[2015-09-21 03:23] haryshwaran commented on #11
We will be changing the theme very soon in any case, we could club the changes along with the theme change. Could we close this issue?

[2015-09-21 03:32] tog22 commented on #11
We may as well leave it open as we'd want it in whatever theme we use. :smile:

[2015-09-25 15:46] tog22 commented on #9
@wrsaunde I'm guessing your new job is rightfully your priority right now! When do you think it'll allow you time to fit some EA work like this in?

[2015-09-28 03:26] william-r-s commented on #9
Whoops, sorry about that! I might try to wrap up the pieces I've left
hanging next weekend, I'll see how things go.

On Fri, Sep 25, 2015 at 8:46 AM, tog22 notifications@github.com wrote:

[2015-09-28 17:52] tog22 commented on #9
Yay :smile: . That would be perfect, but it can always wait another week or two if you need to prioritise the new job. Hope it's going well!

[2015-10-11 19:05] william-r-s commented on #9
Okay, let's actually wrap this up (sorry about leaving this hanging).
I think that there should be a link on the following pages:
http://effectivealtruismhub.com/user/profiles/all/alphabetical - somewhere prominent, at top and/or above the block of EA profiles on the page
http://effectivealtruismhub.com/user/profiles - button at the top of the page
http://effectivealtruismhub.com/user/profiles/ful

[2015-10-11 19:18] william-r-s commented on #21
I did a quick scan through the fields to see if anything stuck out as being useful. Overall, I'm not sure how useful of a feature this actually is (and it will probably clutter up the search UI if we add too much). It might be best to wait for specific feature requests from users, and implement only then.

It seems like it might useful to search by organization support and by cause.

There are two

[2015-10-11 20:35] tog22 commented on #21
Seems reasonable, and indeed that's what I've said to the few users/organisations who've requested this. We want to focus on valuable stuff, though anything volunteers can add to the hub site contibutes to building it up :smile:

Of the ones you mentioned I'd only add searches for:
- Causes and communities you're interested in (field_interest_in_causes_and_com)
- To which causes? (field_if_so_to_w

[2015-10-11 20:37] tog22 commented on #9
Sounds good! You can add simple buttons like that directly to the live site. (Feel the power/community control! :battery: )

[2015-10-11 20:39] tog22 opened #33 "Add searches of people on the EA Donation Registry"
These should go only on the appropriate EA Donation Registry pages, and be pre-filtered only for people who have past or planned donations shared. You could do separate searches for each or one combined search for people who have either shared - your judgement.

[2015-10-11 20:42] tog22 commented on #33
@haryshwaran - FYI, this might be easier to do when you move onto writing a new form element for past donations like we discussed verbally recently. It's likely (practically speaking) impossible for @wrsaunde to filter for people who have shared past donations as opposed to just having saved their 'profile_donations' profile and thus created a past donations table which only has the header row. (

[2015-10-12 04:55] william-r-s commented on #9
Done.

[2015-10-12 04:55] #9 closed, assigned to william-r-s

[2015-10-12 06:08] william-r-s commented on #21
I figured this out on my local version. I played around with creating a page that lists all of the fields in a table. While it's a little cluttered, it also might be useful for someone who wants to find people interested in a particular cause area. I also think it's best to use just one search box for all the fields.

Screenshot http://prntscr.com/8qcjol

Shall I go ahead and launch this as a sepe

[2015-10-12 06:17] william-r-s commented on #33
Right now, it's hard to do any kind of filtering on the donations tables (table fields aren't in the search index). You'd likely have to create another "hack" profile field, like I did in modules/ea_hub_misc/ea_hub_misc.module If you're planning to make modifications to how the field is stored soon, it might be best to do that first.

[2015-10-12 18:40] tog22 commented on #21
Yep, go for it!

[2015-10-12 18:41] tog22 commented on #33
Yes - @haryshwaran can you make a github issue for this (so it's public to people like William), and then tell @wrsaunde here when you've made it and put the new donations table field into the search index.

[2015-10-23 20:25] tog22 commented on #17
@haryshwaran - I assume you can close this issue? Thanks again for your brilliant work on it! :star:

[2015-10-23 20:44] tog22 commented on #10
Cancelled

[2015-10-23 20:44] #10 closed, assigned to OAGr

[2015-10-23 20:45] tog22 commented on #22
Cancelled, not valuable enough

[2015-10-23 20:45] #22 closed, assigned to nobody

[2015-10-23 22:05] tog22 commented on #3
We're now handling this in Asana, and @haryshwaran has a good grasp of it.

[2015-10-23 22:05] #3 closed, assigned to tog22

[2015-11-12 07:22] william-r-s commented on #21
I actually figured out a better way to do this! It is in fact possible to do keyword search over all profile fields. I have a version of the page up at http://eahub.org/user/profiles/searchallfields (but not linked to anywhere on the site yet). Take a peek at it and let me know if it would work to launch instead of the specialized page.

[2015-11-17 20:50] tog22 commented on #21
Thanks @wrsaunde, that looks just great. Could you edit http://eahub.org/user/profiles & http://eahub.org/user/profiles/search & http://eahub.org/user/profiles/searchallfields appropriately so that users can easily find the search functionality, then mark this issue as closed?

[2015-11-18 07:31] william-r-s commented on #21
I made profiles/search into a page that lets you search by name or by profile contents, and the search profiles button now points to it.

[2015-11-18 07:31] #21 closed, assigned to william-r-s

[2015-11-20 18:17] tog22 commented on #21
Perfect. :) It was great to be able to spend so little time on this and
just let you work out the (clearly best!) solution.

On 17 November 2015 at 23:31, wrsaunde notifications@github.com wrote:

[2016-05-01 17:42] tog22 commented on #8
Assigned to @haryshwaran in https://app.asana.com/0/49685304522920/48351011270207

[2016-05-01 17:43] tog22 commented on #23
@patbl are you still interested in doing this? No worries if not!

[2016-05-01 20:34] patbl commented on #23
I probably won't do this.

[2016-05-12 11:03] berekuk opened #34 "Unable to add myself to the group"
I'm trying to add myself to the [EA Russia](https://eahub.org/groups/effective-altruism-russia) group via "Do you attend this group?" button, but the form I'm seeing at https://eahub.org/groups/join doesn't display it in "The group" list.

I also tried to type in "Effective Altruism Russia" by selecting "Other", and
got this response with no other visible effect:

(Not sure what it means. Are such

[2016-05-31 00:49] tog22 commented on #34
Thanks for filing, we appreciate it! This has been assigned to @haryshwaran for a while (Harysh, the internal todo is https://app.asana.com/0/search/138414498718795/110607461614047 - this link works just for Harysh). He's just very stretched and has a lot of other priorities to get through first! This feature is actually meant to be disabled until then, the link on group profiles like EA Russia wa

[2020-04-19 18:13] #14 closed, assigned to tog22